greenhouse-zone1-flows.json
[
    {
        "id": "ce09969188cb7c71",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "898ebf5ef19cb4ce",
        "type": "function",
        "z": "ce09969188cb7c71",
        "name": "function 91",
        "func": "let topic = msg.payload.split(\":\")[0];\nlet initValue = msg.payload.split(\":\")[1]; \nlet finalValue = initValue.substr(0, initValue.length - 2);\n\nmsg.finalValue= parseInt(finalValue);\n msg.topic=topic;\n\nreturn msg ;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 880,
        "wires": [
            [
                "b6ea14cf4524135e"
            ]
        ]
    },
    {
        "id": "bc1d73e068dc55dd",
        "type": "switch",
        "z": "ce09969188cb7c71",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Luminosity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Humiditee Terre",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Insects nuisible",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 950,
        "y": 900,
        "wires": [
            [
                "ebdcfe30dda43c83"
            ],
            [
                "d3c2e9a25e7a08a8"
            ],
            [
                "cdb5c412a1ee2dbb"
            ],
            [
                "9664f2232457c9e8"
            ]
        ]
    },
    {
        "id": "1abb6ac855b73348",
        "type": "function",
        "z": "ce09969188cb7c71",
        "name": "function 92",
        "func": "for (let i = 0; i < msg.payload.length; i++) {\n    if (msg.payload[i].zone == msg.choix) {\nlet state;\nlet leaf=false;\nlet away=false;\nif (msg.temp < msg.payload[i]._value ){\n    state=\"heating\"; \n    global.set(\"nest1_ambient_temperature\", msg.temp);\n    global.set(\"nest1_target_temperature\", msg.payload[i]._value);\n    global.set(\"nest1_hvac_state\", state);\n    global.set(\"nest1_has_leaf\", leaf);\n    global.set(\"nest1_away\", away);break;\n} else if (msg.temp > msg.payload[i]._value){\n    state=\"cooling\"; \n    leaf=true;\n    global.set(\"nest1_ambient_temperature\", msg.temp);\n    global.set(\"nest1_target_temperature\", msg.payload[i]._value);\n    global.set(\"nest1_hvac_state\", state);\n    global.set(\"nest1_has_leaf\", leaf);\n    global.set(\"nest1_away\", away); break;\n}else{\n    state=\"off\";\n    away=true; \n    global.set(\"nest1_ambient_temperature\", msg.temp);\n    global.set(\"nest1_target_temperature\", msg.payload[i]._value);\n    global.set(\"nest1_hvac_state\", state);\n    global.set(\"nest1_has_leaf\", leaf);\n    global.set(\"nest1_away\", away);\n    break;\n}\n    }}\n\n\n/*let newmsg={payload:{\n    \"ambient_temperature\": msg.payload,\n    \"target_temperature\": 23,\n    \"hvac_state\": state,\n    \"has_leaf\": leaf,\n    \"away\": away\n}};*/\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 820,
        "wires": [
            [
                "7ac704a8d57cb5da"
            ]
        ]
    },
    {
        "id": "07ae1ce0a3e2af68",
        "type": "ui_template",
        "z": "ce09969188cb7c71",
        "group": "2fd414e84c380b6c",
        "name": "Nest1",
        "order": 2,
        "width": "5",
        "height": "5",
        "format": "<div id=\"thermostat1\"></div>\n\n<style>\n\n@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);\n\n#thermostat1 {\n margin: 0 auto;\n -webkit-tap-highlight-color: rgba(0, 0, 0, 0);\n}\n\n.dial {\n    -webkit-user-select: none;\n    -moz-user-select: none;\n    -ms-user-select: none;\n    user-select: none;\n}\n.dial.away .dial__ico__leaf {\n    visibility: hidden;\n}\n.dial.away .dial__lbl--target {\n    visibility: hidden;\n}\n.dial.away .dial__lbl--target--half {\n    visibility: hidden;\n}\n.dial.away .dial__lbl--away {\n    opacity: 1;\n}\n.dial .dial__shape {\n    -webkit-transition: fill 0.5s;\n    transition: fill 0.5s;\n}\n.dial path.dial__ico__leaf {\n    fill: #13EB13;\n    opacity: 0;\n    -webkit-transition: opacity 0.5s;\n    transition: opacity 0.5s;\n    pointer-events: none;\n}\n.dial.has-leaf .dial__ico__leaf {\n    display: block;\n    opacity: 1;\n    pointer-events: initial;\n}\n.dial__editableIndicator {\n    fill-rule: evenodd;\n    opacity: 0;\n    -webkit-transition: opacity 0.5s;\n    transition: opacity 0.5s;\n}\n.dial--edit path.dial__editableIndicator {\n    fill: white;\n}\n.dial--edit .dial__editableIndicator {\n    opacity: 1;\n}\n.dial--state--off .dial__shape {\n    fill: #3d3c3c;\n}\n.dial--state--heating .dial__shape {\n    fill: #E36304;\n}\n.dial--state--cooling .dial__shape {\n    fill: #007AF1;\n}\n.dial .dial__ticks path {\n    fill: rgba(255, 255, 255, 0.3);\n}\n.dial .dial__ticks path.active {\n    fill: rgba(255, 255, 255, 0.8);\n}\n.dial text {\n    fill: white;\n    text-anchor: middle;\n    font-family: Helvetica, sans-serif;\n    alignment-baseline: central;\n}\n.dial__lbl--target {\n    font-size: 120px;\n    font-weight: bold;\n}\n.dial__lbl--target--half {\n    font-size: 40px;\n    font-weight: bold;\n    opacity: 0;\n    -webkit-transition: opacity 0.1s;\n    transition: opacity 0.1s;\n}\n.dial__lbl--target--half.shown {\n    opacity: 1;\n    -webkit-transition: opacity 0s;\n    transition: opacity 0s;\n}\n.dial__lbl--ambient {\n    font-size: 22px;\n    font-weight: bold;\n}\n.dial__lbl--away {\n    font-size: 72px;\n    font-weight: bold;\n    opacity: 0;\n    pointer-events: none;\n}\n#controls {\n    font-family: Open Sans;\n    background-color: rgba(255, 255, 255, 0.25);\n    padding: 20px;\n    border-radius: 5px;\n    position: absolute;\n    left: 50%;\n    -webkit-transform: translatex(-50%);\n    transform: translatex(-50%);\n    margin-top: 20px;\n}\n#controls label {\n    text-align: left;\n    display: block;\n}\n#controls label span {\n    display: inline-block;\n    width: 200px;\n    text-align: right;\n    font-size: 0.8em;\n    text-transform: uppercase;\n}\n#controls p {\n    margin: 0;\n    margin-bottom: 1em;\n    padding-bottom: 1em;\n    border-bottom: 2px solid #ccc;\n}\n</style>\n<script>\n    var thermostatDial = (function() {\n\t\n\t/*\n\t * Utility functions\n\t */\n\t\n\t// Create an element with proper SVG namespace, optionally setting its attributes and appending it to another element\n\tfunction createSVGElement(tag,attributes,appendTo) {\n\t\tvar element = document.createElementNS('http://www.w3.org/2000/svg',tag);\n\t\tattr(element,attributes);\n\t\tif (appendTo) {\n\t\t\tappendTo.appendChild(element);\n\t\t}\n\t\treturn element;\n\t}\n\t\n\t// Set attributes for an element\n\tfunction attr(element,attrs) {\n\t\tfor (var i in attrs) {\n\t\t\telement.setAttribute(i,attrs[i]);\n\t\t}\n\t}\n\t\n\t// Rotate a cartesian point about given origin by X degrees\n\tfunction rotatePoint(point, angle, origin) {\n\t\tvar radians = angle * Math.PI/180;\n\t\tvar x = point[0]-origin[0];\n\t\tvar y = point[1]-origin[1];\n\t\tvar x1 = x*Math.cos(radians) - y*Math.sin(radians) + origin[0];\n\t\tvar y1 = x*Math.sin(radians) + y*Math.cos(radians) + origin[1];\n\t\treturn [x1,y1];\n\t}\n\t\n\t// Rotate an array of cartesian points about a given origin by X degrees\n\tfunction rotatePoints(points, angle, origin) {\n\t\treturn points.map(function(point) {\n\t\t\treturn rotatePoint(point, angle, origin);\n\t\t});\n\t}\n\t\n\t// Given an array of points, return an SVG path string representing the shape they define\n\tfunction pointsToPath(points) {\n\t\treturn points.map(function(point, iPoint) {\n\t\t\treturn (iPoint>0?'L':'M') + point[0] + ' ' + point[1];\n\t\t}).join(' ')+'Z';\n\t}\n\t\n\tfunction circleToPath(cx, cy, r) {\n\t\treturn [\n\t\t\t\"M\",cx,\",\",cy,\n\t\t\t\"m\",0-r,\",\",0,\n\t\t\t\"a\",r,\",\",r,0,1,\",\",0,r*2,\",\",0,\n\t\t\t\"a\",r,\",\",r,0,1,\",\",0,0-r*2,\",\",0,\n\t\t\t\"z\"\n\t\t].join(' ').replace(/\\s,\\s/g,\",\");\n\t}\n\t\n\tfunction donutPath(cx,cy,rOuter,rInner) {\n\t\treturn circleToPath(cx,cy,rOuter) + \" \" + circleToPath(cx,cy,rInner);\n\t}\n\t\n\t// Restrict a number to a min + max range\n\tfunction restrictToRange(val,min,max) {\n\t\tif (val < min) return min;\n\t\tif (val > max) return max;\n\t\treturn val;\n\t}\n\t\n\t// Round a number to the nearest 0.5\n\tfunction roundHalf(num) {\n\t\treturn Math.round(num*2)/2;\n\t}\n\t\n\tfunction setClass(el, className, state) {\n\t\tel.classList[state ? 'add' : 'remove'](className);\n\t}\n\t\n\t/*\n\t * The \"MEAT\"\n\t */\n\n\treturn function(targetElement, options) {\n\t\tvar self = this;\n\t\t\n\t\t/*\n\t\t * Options\n\t\t */\n\t\toptions = options || {};\n\t\toptions = {\n\t\t\tdiameter: options.diameter || 400,\n\t\t\tminValue: options.minValue || 10, // Minimum value for target temperature\n\t\t\tmaxValue: options.maxValue || 30, // Maximum value for target temperature\n\t\t\tnumTicks: options.numTicks || 200, // Number of tick lines to display around the dial\n\t\t\tonSetTargetTemperature: options.onSetTargetTemperature || function() {}, // Function called when new target temperature set by the dial\n\t\t};\n\t\t\n\t\t/*\n\t\t * Properties - calculated from options in many cases\n\t\t */\n\t\tvar properties = {\n\t\t\ttickDegrees: 300, // Degrees of the dial that should be covered in tick lines\n\t\t\trangeValue: options.maxValue - options.minValue,\n\t\t\tradius: options.diameter/2,\n\t\t\tticksOuterRadius: options.diameter / 30,\n\t\t\tticksInnerRadius: options.diameter / 8,\n\t\t\thvac_states: ['off', 'heating', 'cooling'],\n\t\t\tdragLockAxisDistance: 15,\n\t\t}\n\t\tproperties.lblAmbientPosition = [properties.radius, properties.ticksOuterRadius-(properties.ticksOuterRadius-properties.ticksInnerRadius)/2]\n\t\tproperties.offsetDegrees = 180-(360-properties.tickDegrees)/2;\n\t\t\n\t\t/*\n\t\t * Object state\n\t\t */\n\t\tvar state = {\n\t\t\ttarget_temperature: options.minValue,\n\t\t\tambient_temperature: options.minValue,\n\t\t\thvac_state: properties.hvac_states[0],\n\t\t\thas_leaf: false,\n\t\t\taway: false\n\t\t};\n\t\t\n\t\t/*\n\t\t * Property getter / setters\n\t\t */\n\t\tObject.defineProperty(this,'target_temperature',{\n\t\t\tget: function() {\n\t\t\t\treturn state.target_temperature;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tstate.target_temperature = restrictTargetTemperature(+val);\n\t\t\t\trender();\n\t\t\t}\n\t\t});\n\t\tObject.defineProperty(this,'ambient_temperature',{\n\t\t\tget: function() {\n\t\t\t\treturn state.ambient_temperature;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tstate.ambient_temperature = roundHalf(+val);\n\t\t\t\trender();\n\t\t\t}\n\t\t});\n\t\tObject.defineProperty(this,'hvac_state',{\n\t\t\tget: function() {\n\t\t\t\treturn state.hvac_state;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tif (properties.hvac_states.indexOf(val)>=0) {\n\t\t\t\t\tstate.hvac_state = val;\n\t\t\t\t\trender();\n\t\t\t\t}\n\t\t\t}\n\t\t});\n\t\tfunction str2bool(strvalue){\n          return (strvalue && typeof strvalue == 'string') ? (strvalue.toLowerCase() == 'true') : (strvalue == true);\n        }\n\t\tObject.defineProperty(this,'has_leaf',{\n\t\t\tget: function() {\n\t\t\t\treturn state.has_leaf;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tstate.has_leaf = !!str2bool(val);\n\t\t\t\trender();\n\t\t\t}\n\t\t});\n\t\tObject.defineProperty(this,'away',{\n\t\t\tget: function() {\n\t\t\t\treturn state.away;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tstate.away = !!str2bool(val);\n\t\t\t\trender();\n\t\t\t}\n\t\t});\n\t\t\n\t\t/*\n\t\t * SVG\n\t\t */\n\t\tvar svg = createSVGElement('svg',{\n\t\t\twidth: '100%', //options.diameter+'px',\n\t\t\theight: '100%', //options.diameter+'px',\n\t\t\tviewBox: '0 0 '+options.diameter+' '+options.diameter,\n\t\t\tclass: 'dial'\n\t\t},targetElement);\n\t\t// CIRCULAR DIAL\n\t\tvar circle = createSVGElement('circle',{\n\t\t\tcx: properties.radius,\n\t\t\tcy: properties.radius,\n\t\t\tr: properties.radius,\n\t\t\tclass: 'dial__shape'\n\t\t},svg);\n\t\t// EDITABLE INDICATOR\n\t\tvar editCircle = createSVGElement('path',{\n\t\t\td: donutPath(properties.radius,properties.radius,properties.radius-4,properties.radius-8),\n\t\t\tclass: 'dial__editableIndicator',\n\t\t},svg);\n\t\t\n\t\t/*\n\t\t * Ticks\n\t\t */\n\t\tvar ticks = createSVGElement('g',{\n\t\t\tclass: 'dial__ticks'\t\n\t\t},svg);\n\t\tvar tickPoints = [\n\t\t\t[properties.radius-1, properties.ticksOuterRadius],\n\t\t\t[properties.radius+1, properties.ticksOuterRadius],\n\t\t\t[properties.radius+1, properties.ticksInnerRadius],\n\t\t\t[properties.radius-1, properties.ticksInnerRadius]\n\t\t];\n\t\tvar tickPointsLarge = [\n\t\t\t[properties.radius-1.5, properties.ticksOuterRadius],\n\t\t\t[properties.radius+1.5, properties.ticksOuterRadius],\n\t\t\t[properties.radius+1.5, properties.ticksInnerRadius+20],\n\t\t\t[properties.radius-1.5, properties.ticksInnerRadius+20]\n\t\t];\n\t\tvar theta = properties.tickDegrees/options.numTicks;\n\t\tvar tickArray = [];\n\t\tfor (var iTick=0; iTick<options.numTicks; iTick++) {\n\t\t\ttickArray.push(createSVGElement('path',{d:pointsToPath(tickPoints)},ticks));\n\t\t};\n\t\t\n\t\t/*\n\t\t * Labels\n\t\t */\n\t\tvar lblTarget = createSVGElement('text',{\n\t\t\tx: properties.radius,\n\t\t\ty: properties.radius,\n\t\t\tclass: 'dial__lbl dial__lbl--target'\n\t\t},svg);\n\t\tvar lblTarget_text = document.createTextNode('');\n\t\tlblTarget.appendChild(lblTarget_text);\n\t\t//\n\t\tvar lblTargetHalf = createSVGElement('text',{\n\t\t\tx: properties.radius + properties.radius/2.5,\n\t\t\ty: properties.radius - properties.radius/8,\n\t\t\tclass: 'dial__lbl dial__lbl--target--half'\n\t\t},svg);\n\t\tvar lblTargetHalf_text = document.createTextNode('5');\n\t\tlblTargetHalf.appendChild(lblTargetHalf_text);\n\t\t//\n\t\tvar lblAmbient = createSVGElement('text',{\n\t\t\tclass: 'dial__lbl dial__lbl--ambient'\n\t\t},svg);\n\t\tvar lblAmbient_text = document.createTextNode('');\n\t\tlblAmbient.appendChild(lblAmbient_text);\n\t\t//\n\t\tvar lblAway = createSVGElement('text',{\n\t\t\tx: properties.radius,\n\t\t\ty: properties.radius,\n\t\t\tclass: 'dial__lbl dial__lbl--away'\n\t\t},svg);\n\t\tvar lblAway_text = document.createTextNode('AWAY');\n\t\tlblAway.appendChild(lblAway_text);\n\t\t//\n\t\tvar icoLeaf = createSVGElement('path',{\n\t\t\tclass: 'dial__ico__leaf'\n\t\t},svg);\n\t\t\n\t\t/*\n\t\t * LEAF\n\t\t */\n\t\tvar leafScale = properties.radius/5/100;\n\t\tvar leafDef = [\"M\", 3, 84, \"c\", 24, 17, 51, 18, 73, -6, \"C\", 100, 52, 100, 22, 100, 4, \"c\", -13, 15, -37, 9, -70, 19, \"C\", 4, 32, 0, 63, 0, 76, \"c\", 6, -7, 18, -17, 33, -23, 24, -9, 34, -9, 48, -20, -9, 10, -20, 16, -43, 24, \"C\", 22, 63, 8, 78, 3, 84, \"z\"].map(function(x) {\n\t\t\treturn isNaN(x) ? x : x*leafScale;\n\t\t}).join(' ');\n\t\tvar translate = [properties.radius-(leafScale*100*0.5),properties.radius*1.5]\n\t\tvar icoLeaf = createSVGElement('path',{\n\t\t\tclass: 'dial__ico__leaf',\n\t\t\td: leafDef,\n\t\t\ttransform: 'translate('+translate[0]+','+translate[1]+')'\n\t\t},svg);\n\t\t\t\n\t\t/*\n\t\t * RENDER\n\t\t */\n\t\tfunction render() {\n\t\t\trenderAway();\n\t\t\trenderHvacState();\n\t\t\trenderTicks();\n\t\t\trenderTargetTemperature();\n\t\t\trenderAmbientTemperature();\n\t\t\trenderLeaf();\n\t\t}\n\t\trender();\n\n\t\t/*\n\t\t * RENDER - ticks\n\t\t */\n\t\tfunction renderTicks() {\n\t\t\tvar vMin, vMax;\n\t\t\tif (self.away) {\n\t\t\t\tvMin = self.ambient_temperature;\n\t\t\t\tvMax = vMin;\n\t\t\t} else {\n\t\t\t\tvMin = Math.min(self.ambient_temperature, self.target_temperature);\n\t\t\t\tvMax = Math.max(self.ambient_temperature, self.target_temperature);\n\t\t\t}\n\t\t\tvar min = restrictToRange(Math.round((vMin-options.minValue)/properties.rangeValue * options.numTicks),0,options.numTicks-1);\n\t\t\tvar max = restrictToRange(Math.round((vMax-options.minValue)/properties.rangeValue * options.numTicks),0,options.numTicks-1);\n\t\t\t//\n\t\t\ttickArray.forEach(function(tick,iTick) {\n\t\t\t\tvar isLarge = iTick==min || iTick==max;\n\t\t\t\tvar isActive = iTick >= min && iTick <= max;\n\t\t\t\tattr(tick,{\n\t\t\t\t\td: pointsToPath(rotatePoints(isLarge ? tickPointsLarge: tickPoints,iTick*theta-properties.offsetDegrees,[properties.radius, properties.radius])),\n\t\t\t\t\tclass: isActive ? 'active' : ''\n\t\t\t\t});\n\t\t\t});\n\t\t}\n\t\n\t\t/*\n\t\t * RENDER - ambient temperature\n\t\t */\n\t\tfunction renderAmbientTemperature() {\n\t\t\tlblAmbient_text.nodeValue = Math.floor(self.ambient_temperature);\n\t\t\tif (self.ambient_temperature%1!=0) {\n\t\t\t\tlblAmbient_text.nodeValue += '⁵';\n\t\t\t}\n\t\t\tvar peggedValue = restrictToRange(self.ambient_temperature, options.minValue, options.maxValue);\n\t\t\tdegs = properties.tickDegrees * (peggedValue-options.minValue)/properties.rangeValue - properties.offsetDegrees;\n\t\t\tif (peggedValue > self.target_temperature) {\n\t\t\t\tdegs += 8;\n\t\t\t} else {\n\t\t\t\tdegs -= 8;\n\t\t\t}\n\t\t\tvar pos = rotatePoint(properties.lblAmbientPosition,degs,[properties.radius, properties.radius]);\n\t\t\tattr(lblAmbient,{\n\t\t\t\tx: pos[0],\n\t\t\t\ty: pos[1]\n\t\t\t});\n\t\t}\n\n\t\t/*\n\t\t * RENDER - target temperature\n\t\t */\n\t\tfunction renderTargetTemperature() {\n\t\t\tlblTarget_text.nodeValue = Math.floor(self.target_temperature);\n\t\t\tsetClass(lblTargetHalf,'shown',self.target_temperature%1!=0);\n\t\t}\n\t\t\n\t\t/*\n\t\t * RENDER - leaf\n\t\t */\n\t\tfunction renderLeaf() {\n\t\t\tsetClass(svg,'has-leaf',self.has_leaf);\n\t\t}\n\t\t\n\t\t/*\n\t\t * RENDER - HVAC state\n\t\t */\n\t\tfunction renderHvacState() {\n\t\t\tArray.prototype.slice.call(svg.classList).forEach(function(c) {\n\t\t\t\tif (c.match(/^dial--state--/)) {\n\t\t\t\t\tsvg.classList.remove(c);\n\t\t\t\t};\n\t\t\t});\n\t\t\tsvg.classList.add('dial--state--'+self.hvac_state);\n\t\t}\n\t\t\n\t\t/*\n\t\t * RENDER - away\n\t\t */\n\t\tfunction renderAway() {\n\t\t\tsvg.classList[self.away ? 'add' : 'remove']('away');\n\t\t}\n\t\t\n\t\t/*\n\t\t * Drag to control\n\t\t */\n\t\tvar _drag = {\n\t\t\tinProgress: false,\n\t\t\tstartPoint: null,\n\t\t\tstartTemperature: 0,\n\t\t\tlockAxis: undefined\n\t\t};\n\t\t\n\t\tfunction eventPosition(ev) {\n\t\t\tif (ev.targetTouches && ev.targetTouches.length) {\n\t\t\t\treturn [ev.targetTouches[0].clientX, ev.targetTouches[0].clientY];\n\t\t\t} else {\n\t\t\t\treturn [ev.x, ev.y];\n\t\t\t};\n\t\t}\n\t\t\n\t\tvar startDelay;\n\t\tfunction dragStart(ev) {\n\t\t\tstartDelay = setTimeout(function() {\n\t\t\t\tsetClass(svg, 'dial--edit', true);\n\t\t\t\t_drag.inProgress = true;\n\t\t\t\t_drag.startPoint = eventPosition(ev);\n\t\t\t\t_drag.startTemperature = self.target_temperature || options.minValue;\n\t\t\t\t_drag.lockAxis = undefined;\n\t\t\t},1000);\n\t\t};\n\t\t\n\t\tfunction dragEnd (ev) {\n\t\t\tclearTimeout(startDelay);\n\t\t\tsetClass(svg, 'dial--edit', false);\n\t\t\tif (!_drag.inProgress) return;\n\t\t\t_drag.inProgress = false;\n\t\t\tif (self.target_temperature != _drag.startTemperature) {\n\t\t\t\tif (typeof options.onSetTargetTemperature == 'function') {\n\t\t\t\t\toptions.onSetTargetTemperature(self.target_temperature);\n\t\t\t\t};\n\t\t\t};\n\t\t};\n\t\t\n\t\tfunction dragMove(ev) {\n\t\t\tev.preventDefault();\n\t\t\tif (!_drag.inProgress) return;\n\t\t\tvar evPos = eventPosition(ev);\n\t\t\tvar dy = _drag.startPoint[1]-evPos[1];\n\t\t\tvar dx = evPos[0] - _drag.startPoint[0];\n\t\t\tvar dxy;\n\t\t\tif (_drag.lockAxis == 'x') {\n\t\t\t\tdxy = dx;\n\t\t\t} else if (_drag.lockAxis == 'y') {\n\t\t\t\tdxy = dy;\n\t\t\t} else if (Math.abs(dy) > properties.dragLockAxisDistance) {\n\t\t\t\t_drag.lockAxis = 'y';\n\t\t\t\tdxy = dy;\n\t\t\t} else if (Math.abs(dx) > properties.dragLockAxisDistance) {\n\t\t\t\t_drag.lockAxis = 'x';\n\t\t\t\tdxy = dx;\n\t\t\t} else {\n\t\t\t\tdxy = (Math.abs(dy) > Math.abs(dx)) ? dy : dx;\n\t\t\t};\n\t\t\tvar dValue = (dxy*getSizeRatio())/(options.diameter)*properties.rangeValue;\n\t\t\tself.target_temperature = roundHalf(_drag.startTemperature+dValue);\n\t\t}\n\t\t\n\t\tsvg.addEventListener('mousedown',dragStart);\n\t\tsvg.addEventListener('touchstart',dragStart);\n\t\t\n\t\tsvg.addEventListener('mouseup',dragEnd);\n\t\tsvg.addEventListener('mouseleave',dragEnd);\n\t\tsvg.addEventListener('touchend',dragEnd);\n\t\t\n\t\tsvg.addEventListener('mousemove',dragMove);\n\t\tsvg.addEventListener('touchmove',dragMove);\n\t\t//\n\t\t\n\t\t/*\n\t\t * Helper functions\n\t\t */\n\t\tfunction restrictTargetTemperature(t) {\n\t\t\treturn restrictToRange(roundHalf(t),options.minValue,options.maxValue);\n\t\t}\n\t\t\n\t\tfunction angle(point) {\n\t\t\tvar dx = point[0] - properties.radius;\n\t\t\tvar dy = point[1] - properties.radius;\n\t\t\tvar theta = Math.atan(dx/dy) / (Math.PI/180);\n\t\t\tif (point[0]>=properties.radius && point[1] < properties.radius) {\n\t\t\t\ttheta = 90-theta - 90;\n\t\t\t} else if (point[0]>=properties.radius && point[1] >= properties.radius) {\n\t\t\t\ttheta = 90-theta + 90;\n\t\t\t} else if (point[0]<properties.radius && point[1] >= properties.radius) {\n\t\t\t\ttheta = 90-theta + 90;\n\t\t\t} else if (point[0]<properties.radius && point[1] < properties.radius) {\n\t\t\t\ttheta = 90-theta+270;\n\t\t\t}\n\t\t\treturn theta;\n\t\t};\n\t\t\n\t\tfunction getSizeRatio() {\n\t\t\treturn options.diameter / targetElement.clientWidth;\n\t\t}\n\t\t\n\t};\n})();\n\n/* ==== */\nvar initializing = true;\n\n(function(scope) {\n    var nest = new thermostatDial(document.getElementById('thermostat1'),{\n    \tonSetTargetTemperature: function(v) {\n    \t    var p = {\n    \t        \"ambient_temperature\":nest.ambient_temperature,\n    \t        \"target_temperature\":v,\n    \t        \"hvac_state\":nest.hvac_state,\n    \t        \"has_leaf\": nest.has_leaf,\n    \t        \"away\":nest.away\n    \t    };\n    \t\tscope.send({topic: \"target_temperature\", payload: p});\n    \t}\n    });\n    \n    scope.$watch('msg', function(data) {\n        if (initializing) {\n            initializing = false;\n            } else {\n            nest.ambient_temperature = data.payload.ambient_temperature || 0;\n            nest.target_temperature = data.payload.target_temperature || 0;\n            nest.hvac_state = data.payload.hvac_state || \"off\";\n            nest.has_leaf = data.payload.has_leaf || false;\n            nest.away = data.payload.away || false;\n        }\n        \n    });\n})(scope);\n\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1850,
        "y": 820,
        "wires": [
            [
                "c123ba57dd7b08a5"
            ]
        ]
    },
    {
        "id": "7ac704a8d57cb5da",
        "type": "function",
        "z": "ce09969188cb7c71",
        "name": "Data",
        "func": "if (msg.topic == \"target_temperature\") {\n    global.set(\"nest1_target_temperature\",msg.payload);\n}\nmsg.topic = \"update\";\nvar data = {\n    'ambient_temperature': global.get(\"nest1_ambient_temperature\") || 20,\n    'target_temperature': global.get(\"nest1_target_temperature\") || 21,\n    'hvac_state': global.get(\"nest1_hvac_state\") || 'off',\n    'has_leaf': global.get(\"nest1_has_leaf\") || 'false',\n    'away': global.get(\"nest1_away\") || 'false'\n}\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1710,
        "y": 820,
        "wires": [
            [
                "07ae1ce0a3e2af68"
            ]
        ]
    },
    {
        "id": "439fa605c30882e0",
        "type": "ui_gauge",
        "z": "ce09969188cb7c71",
        "name": "gauge humidité",
        "group": "9ba2d9c483d51e1d",
        "order": 4,
        "width": "5",
        "height": "5",
        "gtype": "wave",
        "title": "humidity %",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1380,
        "y": 1060,
        "wires": []
    },
    {
        "id": "cdb5c412a1ee2dbb",
        "type": "function",
        "z": "ce09969188cb7c71",
        "name": "function 93",
        "func": "msg.humidity = msg.finalValue;\nmsg.payload = msg.humidity;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 1000,
        "wires": [
            [
                "52d0a4403100efb0",
                "61707e900ad062d7",
                "439fa605c30882e0"
            ]
        ]
    },
    {
        "id": "52d0a4403100efb0",
        "type": "influxdb in",
        "z": "ce09969188cb7c71",
        "influxdb": "a3e9534b0c4343c2",
        "name": "read humidity",
        "query": "from(bucket:\"final\")\n|>range(start:2023-01-19T13:47:36.872Z, stop:2024-02-19T13:47:36.872Z)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"maSerre\")\n  |> filter(fn: (r) => r[\"_field\"] == \"humidity\")\n\n",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "tp iao",
        "x": 1380,
        "y": 1000,
        "wires": [
            [
                "096d8fb9aefaa8ef"
            ]
        ]
    },
    {
        "id": "096d8fb9aefaa8ef",
        "type": "function",
        "z": "ce09969188cb7c71",
        "name": "function 94",
        "func": "\nfor(let i=0;i< msg.payload.length;i++){\nif(msg.payload[i].zone==msg.choix){\n    if (msg.humidity < msg.payload[i]._value){\n    msg.payload =\"humidité basse la pompe à eau est activé \"; break;\n}\n    else if (msg.humidity > msg.payload[i]._value) {\n    msg.payload = \"humidité haute rien à faire\"; break;\n} else {\n    msg.payload =\"Nice !\"; break;\n} \n}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 1000,
        "wires": [
            [
                "1f1ae857c1e045cc"
            ]
        ]
    },
    {
        "id": "ebdcfe30dda43c83",
        "type": "function",
        "z": "ce09969188cb7c71",
        "name": "function 95",
        "func": "msg.luminosity=msg.finalValue;\nmsg.payload=msg.luminosity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 720,
        "wires": [
            [
                "05da693d6c5628c6",
                "d5ddec050ea140d2"
            ]
        ]
    },
    {
        "id": "05da693d6c5628c6",
        "type": "influxdb in",
        "z": "ce09969188cb7c71",
        "influxdb": "a3e9534b0c4343c2",
        "name": "read luminosity",
        "query": "from(bucket:\"final\")\n|>range(start:2023-01-19T13:47:36.872Z, stop:2024-02-19T13:47:36.872Z)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"maSerre\")\n  |> filter(fn: (r) => r[\"_field\"] == \"luminosity\")\n\n",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "tp iao",
        "x": 1360,
        "y": 720,
        "wires": [
            [
                "3363f707c926d575"
            ]
        ]
    },
    {
        "id": "3363f707c926d575",
        "type": "function",
        "z": "ce09969188cb7c71",
        "name": "function 96",
        "func": "for (let i = 0; i < msg.payload.length; i++) {\n    if (msg.payload[i].zone == msg.choix) {\nif(msg.luminosity < msg.payload[i]._value){\n    msg.payload =\"luminosity basse les lumiéres sont activées\"; break;\n}\nelse if (msg.luminosity > msg.payload[i]._value) {\n    msg.payload = \"luminosity haute \"; break;\n} else {\n    msg.payload =\"Nice !\"; break;\n} \n    }\n    \n    \n    }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 720,
        "wires": [
            [
                "a2d9ba4fec3857d0"
            ]
        ]
    },
    {
        "id": "9664f2232457c9e8",
        "type": "function",
        "z": "ce09969188cb7c71",
        "name": "function 97",
        "func": "const InsectMapping =[\"puceron\",\"punaise\",\"limasse\"]\n\n\n\nmsg.insect = InsectMapping[msg.finalValue];\nmsg.payload = msg.insect;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1160,
        "wires": [
            [
                "5fd33beefeecc01c"
            ]
        ]
    },
    {
        "id": "5fd33beefeecc01c",
        "type": "influxdb in",
        "z": "ce09969188cb7c71",
        "influxdb": "a3e9534b0c4343c2",
        "name": "read nuisibal insects",
        "query": "from(bucket:\"final\")\n|>range(start:2023-01-19T13:47:36.872Z, stop:2024-02-19T13:47:36.872Z)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"maSerre\")\n  |> filter(fn: (r) => r[\"_field\"] == \"insectTwo\" or r[\"_field\"] == \"insectOne\")\n",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "tp iao",
        "x": 1440,
        "y": 1160,
        "wires": [
            [
                "ae9137ca1e2844d7"
            ]
        ]
    },
    {
        "id": "a3998a927f6de358",
        "type": "influxdb in",
        "z": "ce09969188cb7c71",
        "influxdb": "a3e9534b0c4343c2",
        "name": "read temp",
        "query": "from(bucket:\"final\")\n|>range(start:2023-01-19T13:47:36.872Z, stop:2024-02-19T13:47:36.872Z)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"maSerre\")\n  |> filter(fn: (r) => r[\"_field\"] == \"temp\")\n\n",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "tp iao",
        "x": 1360,
        "y": 820,
        "wires": [
            [
                "1abb6ac855b73348"
            ]
        ]
    },
    {
        "id": "d3c2e9a25e7a08a8",
        "type": "function",
        "z": "ce09969188cb7c71",
        "name": "function 98",
        "func": "msg.temp = msg.finalValue;\nmsg.payload = msg.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 840,
        "wires": [
            [
                "a3998a927f6de358",
                "e1b5af6dc3bbb747"
            ]
        ]
    },
    {
        "id": "d7deaf9be730096f",
        "type": "serial in",
        "z": "ce09969188cb7c71",
        "name": "zone1",
        "serial": "9a947d41d9b69bc8",
        "x": 390,
        "y": 780,
        "wires": [
            [
                "898ebf5ef19cb4ce"
            ]
        ]
    },
    {
        "id": "e1b5af6dc3bbb747",
        "type": "ui_chart",
        "z": "ce09969188cb7c71",
        "name": "",
        "group": "ed07e9d0a8024492",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1370,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "61707e900ad062d7",
        "type": "ui_chart",
        "z": "ce09969188cb7c71",
        "name": "",
        "group": "ed07e9d0a8024492",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humiditee Terre",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "6",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#0f54ae",
            "#ff7f0e",
            "#2ca02c",
            "#177005",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#350d54"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1380,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "d5ddec050ea140d2",
        "type": "ui_chart",
        "z": "ce09969188cb7c71",
        "name": "",
        "group": "cbb1097a17530d24",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "luminosity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1360,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "5a0276bfbfdb4101",
        "type": "inject",
        "z": "ce09969188cb7c71",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "temperature:28\\n",
        "payloadType": "str",
        "x": 320,
        "y": 940,
        "wires": [
            [
                "898ebf5ef19cb4ce"
            ]
        ],
        "info": "le \\n est important modifier juste la valeur pour les test"
    },
    {
        "id": "8dd0ed64e1da9c83",
        "type": "inject",
        "z": "ce09969188cb7c71",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "soilHumidity:65\\n",
        "payloadType": "str",
        "x": 320,
        "y": 1020,
        "wires": [
            [
                "898ebf5ef19cb4ce"
            ]
        ]
    },
    {
        "id": "b3e0a0b2e61a063f",
        "type": "inject",
        "z": "ce09969188cb7c71",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "luminosity:4000\\n",
        "payloadType": "str",
        "x": 320,
        "y": 980,
        "wires": [
            [
                "898ebf5ef19cb4ce"
            ]
        ]
    },
    {
        "id": "71b8265941cd5590",
        "type": "inject",
        "z": "ce09969188cb7c71",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "insect:1\\n",
        "payloadType": "str",
        "x": 300,
        "y": 1060,
        "wires": [
            [
                "898ebf5ef19cb4ce"
            ]
        ]
    },
    {
        "id": "ee1aec7e5c38267b",
        "type": "ui_dropdown",
        "z": "ce09969188cb7c71",
        "name": "",
        "label": "zone 1",
        "tooltip": "",
        "place": "selectionner legume ",
        "group": "5f506f1865987229",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "Tomate",
                "type": "str"
            },
            {
                "label": "",
                "value": "Fraise",
                "type": "str"
            },
            {
                "label": "",
                "value": "Pome de terre",
                "type": "str"
            },
            {
                "label": "",
                "value": "Aubergine",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 250,
        "y": 720,
        "wires": [
            [
                "d89de46f1d4c29d6"
            ]
        ]
    },
    {
        "id": "d89de46f1d4c29d6",
        "type": "influxdb out",
        "z": "ce09969188cb7c71",
        "influxdb": "e68d5373966b7826",
        "name": "DataZone",
        "measurement": "zone1",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "tp iao",
        "bucket": "choix",
        "x": 420,
        "y": 720,
        "wires": []
    },
    {
        "id": "b6ea14cf4524135e",
        "type": "influxdb in",
        "z": "ce09969188cb7c71",
        "influxdb": "a3e9534b0c4343c2",
        "name": "read zone 1",
        "query": "from(bucket:\"choix\")\n|>range(start:2023-01-19T13:47:36.872Z, stop:2024-02-19T13:47:36.872Z)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"choix_zone1\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "tp iao",
        "x": 570,
        "y": 880,
        "wires": [
            [
                "7cff9bfb84757875"
            ]
        ]
    },
    {
        "id": "7cff9bfb84757875",
        "type": "function",
        "z": "ce09969188cb7c71",
        "name": "function 99",
        "func": "msg.choix = msg.payload[msg.payload.length - 1]._value\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 880,
        "wires": [
            [
                "bc1d73e068dc55dd"
            ]
        ]
    },
    {
        "id": "5cee3097852020d6",
        "type": "ui_text",
        "z": "ce09969188cb7c71",
        "group": "9ba2d9c483d51e1d",
        "order": 10,
        "width": "5",
        "height": 1,
        "name": "etat d'insect",
        "label": "insecte",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1870,
        "y": 1160,
        "wires": []
    },
    {
        "id": "ae9137ca1e2844d7",
        "type": "function",
        "z": "ce09969188cb7c71",
        "name": "function 100",
        "func": "for (let i = 0; i < msg.payload.length; i++) {\n    if (msg.payload[i].zone == msg.choix) {\nif(msg.insect == msg.payload[i]._value ){\n    msg.payload = msg.payload = \"insecte détecte\" + msg.payload[i]._value; break;\n}else \n if (msg.insect == msg.payload[i]._value) {\n     msg.payload = \"insecte détecte\" + msg.payload[i]._value; break;\n} else {\n    msg.payload =\"Nice ! nothing to repport\"; break;\n}\n    }}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 1160,
        "wires": [
            [
                "5cee3097852020d6"
            ]
        ]
    },
    {
        "id": "a2d9ba4fec3857d0",
        "type": "ui_text",
        "z": "ce09969188cb7c71",
        "group": "9ba2d9c483d51e1d",
        "order": 8,
        "width": "5",
        "height": 1,
        "name": "state luminosité",
        "label": "state luminosity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1780,
        "y": 720,
        "wires": []
    },
    {
        "id": "1f1ae857c1e045cc",
        "type": "ui_text",
        "z": "ce09969188cb7c71",
        "group": "9ba2d9c483d51e1d",
        "order": 6,
        "width": "5",
        "height": 1,
        "name": "niveau-humidity ",
        "label": "niveau-humidity ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1860,
        "y": 1000,
        "wires": []
    },
    {
        "id": "c123ba57dd7b08a5",
        "type": "debug",
        "z": "ce09969188cb7c71",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2010,
        "y": 840,
        "wires": []
    },
    {
        "id": "9ba2d9c483d51e1d",
        "type": "ui_group",
        "name": "zone4",
        "tab": "35aa57a6cf0e81a9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9a947d41d9b69bc8",
        "type": "serial-port",
        "serialport": "COM2",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "ed07e9d0a8024492",
        "type": "ui_group",
        "name": "zone4",
        "tab": "8711768a2d6698ad",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cbb1097a17530d24",
        "type": "ui_group",
        "name": "select",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5f506f1865987229",
        "type": "ui_group",
        "name": "liste legumes/fruits",
        "tab": "83e8d3d056293f81",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e68d5373966b7826",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "data",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "35aa57a6cf0e81a9",
        "type": "ui_tab",
        "name": "etat",
        "icon": "dashboard",
        "order": 11,
        "disabled": true,
        "hidden": false
    },
    {
        "id": "8711768a2d6698ad",
        "type": "ui_tab",
        "name": "stats",
        "icon": "dashboard",
        "order": 10,
        "disabled": true,
        "hidden": false
    },
    {
        "id": "83e8d3d056293f81",
        "type": "ui_tab",
        "name": "listes",
        "icon": "dashboard",
        "order": 9,
        "disabled": true,
        "hidden": false
    }
]